{% extends "layout.html" %}

{% block main %}
<h2>Transaction History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date / Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.symbol }}</td>
            <td>{{ t.shares }}</td>
            <td>{{ t.price | usd }}</td>
            <td>{{ t.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
